<fa-layout>
  <!-- Page Header -->
  <div class="page-header row no-gutters py-4">
    <div class="col-12 text-center text-sm-left mb-0">
      <span class="text-uppercase page-subtitle">Partidos</span>
      <h3 class="page-title">Listado</h3>
    </div>
  </div>
  <!-- End Page Header -->
  <fa-loading-indicator
    [show]="isLoading"
    [center]="true"
  ></fa-loading-indicator>
  <div class="row">
    <div class="col-12 mb-4">
      <div class="card card-small lo-stats">
        <div class="card-body p-0">
          <table
            datatable
            [dtOptions]="dataTableOptions"
            [dtTrigger]="dataTableTrigger"
            class="file-manager file-manager-list d-none table-responsive"
          >
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Equipo</th>
                <th>Resultado</th>
                <th>Rival</th>
                <th>Cancha</th>

                <th class="text-right hide-sort-icons">
                  {{ "Actions" | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let partido of allPartidos | async">
                <td>{{ partido.parsedate | date }}</td>
                <td>{{ partido.nombreEquipo }}</td>
                <td>{{ partido.resultado }} - {{ partido.resultadoRival }}</td>
                <td>
                  {{ partido.rival }}
                </td>
                <td>{{ partido.cancha }}</td>
                <td class="text-right">
                  <div
                    class="btn-group btn-group-sm"
                    role="group"
                    aria-label="Table row actions"
                  >
                    <button
                      *ngIf="partido.isTranslatable"
                      type="button"
                      class="btn btn-white active-light"
                      title="{{ 'Translate' | translate }}"
                      [routerLink]="
                        navigation.getRouterLink(
                          'partidos',
                          'translate',
                          partido.id
                        )
                      "
                    >
                      <i class="material-icons">translate</i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-white active-light"
                      title="{{ 'Edit' | translate }}"
                      [routerLink]="
                        navigation.getRouterLink('partidos', 'edit', partido.id)
                      "
                    >
                      <i class="material-icons">edit</i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger"
                      title="{{ 'Delete' | translate }}"
                      data-toggle="modal"
                      data-target="#deleteModal"
                      (click)="selectedPartido = partido"
                    >
                      <i class="material-icons">delete_forever</i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</fa-layout>

<!-- Delete Modal -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Borrar partido</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body" innerHTML="Confirma la eliminación ">
        Confirma la eliminación de {{ selectedPartido?.rival }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          (click)="deletePartido(selectedPartido)"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
