<fa-layout>
  <!-- Page Header -->
  <div class="page-header row no-gutters py-4">
    <div class="col-12 text-center text-sm-left mb-0">
      <span class="text-uppercase page-subtitle">{{
        "Pages" | translate
      }}</span>
      <h3 class="page-title">{{ "List" | translate }}</h3>
    </div>
  </div>
  <!-- End Page Header -->
  <fa-loading-indicator
    [show]="isLoading"
    [center]="true"
  ></fa-loading-indicator>
  <div class="row">
    <div class="col-12 mb-4">
      <div class="card card-small lo-stats">
        <div class="card-body p-0">
          <table
            datatable
            [dtOptions]="dataTableOptions"
            [dtTrigger]="dataTableTrigger"
            class="file-manager file-manager-list d-none table-responsive"
          >
            <thead>
              <tr>
                <th >Nombre</th>
                <th >Cantidad Partidos</th>
                <th>Fecha Creación</th>
                <th class="text-right hide-sort-icons">
                  {{ "Actions" | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let equipo of allEquipos | async">
                <td >
                  {{ equipo.title }}
                </td>
                <td >
                  {{ equipo.cantidadPartidos }}
                </td>
                <td>{{ equipo.createdAt | datetime }}</td>
                <td class="text-right">
                  <div
                    class="btn-group btn-group-sm"
                    role="group"
                    aria-label="Table row actions"
                  >
                    <button
                      type="button"
                      class="btn btn-white active-light"
                      title="{{ 'Edit' | translate }}"
                      [routerLink]="
                        navigation.getRouterLink('equipos', 'edit', equipo.id)
                      "
                    >
                      <i class="material-icons">edit</i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger"
                      title="{{ 'Delete' | translate }}"
                      data-toggle="modal"
                      data-target="#deleteModal"
                      (click)="selectedEquipo = equipo"
                    >
                      <i class="material-icons">delete</i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</fa-layout>

<!-- Delete Modal -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar Equipo</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div
        class="modal-body"
        innerHTML="{{
          'ConfirmDeletePage' | translate : { title: selectedEquipo?.title }
        }}"
      ></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          (click)="deleteEquipo(selectedEquipo)"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
